body{
  margin: 0px;
  padding: 0px;
}
#head{
  width: 100%;
  height: 48px;
  background: #099fde;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 999;
}
#container{
  margin-top: 48px;
}
#contentContainer{
  display: inline-block;
  float: left;
  width: 68%;
  height: 500px;
}
#editContainer{
  display: inline-block;
}

#head span{
  line-height: 48px;
  color: #fff;
}
ul, ol {
    list-style: none;
}
#editContainer{
  width: 110px;
  background: #FAFAFA;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  height: 100%;
  float: left;
}
.cm-tabs-nav ul{
    margin: 0px;
    padding: 0px;
}

.cm-tabs-nav .cm-tabs-title-list li {
    position: relative;
    padding: 14px 10px;
    text-align: center;
    min-height: 44px;
    border-bottom: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cm-tabs-nav .cm-tabs-title-list li.active {
  color: #099fde;
}

.cm-tabs-nav .icon-active {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #099fde;
  -webkit-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.hui-filter-unit li {
    position: relative;
    text-align: left;
    min-height: 44px;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #dbdbdb;
}
.hui-filter-unit li p {
    padding-right: 20px;
}
.hui-filterbox p {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
